{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "module": false,
        "targets": {
          "browsers": [
            "ie 8"
          ]
        }
      }
    ]
  ]
}